<html xmlns:th="http://www.thymleaf.org">
<head><meta charset="ISO-8859-1">
<title>Jobiak.ai</title>
</head>
<body>
	<h1>Bank Signup</h1>
	
	<h2 th:text="${user.no}"style="background-color: pink;"></h2>
	<h2 th:text="${user.bankname}"style="background-color: orange;"></h2>
	<h2 th:text="${user.firstname}"style="background-color: lime;"></h2>
	<h2 th:text="${user.lastname}"style="background-color: silver;"></h2>
	<h2 th:text="${user.email}"style="background-color: violet;"></h2>
	<h2 th:text="${user.mobile}"style="background-color: aqua;"></h2>
	<h2 th:text="${user.address}"style="background-color: yellow;"></h2>
</body>
</html>
